<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RayTracer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>092843FC1A05244B003C64C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09B39B391928E8D6004FE52B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09C0F1741931DA1700FB7F31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09C0F18B1931E1EB00FB7F31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09C0F1A31931EC0400FB7F31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09C0F1AF1931EC6900FB7F31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09C0F1BB1931EC6D00FB7F31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09C0F1C71931EC7000FB7F31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09C0F1D61931ECF200FB7F31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09C0F1E31931F39D00FB7F31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09C0F1F21931F3C700FB7F31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09C0F2011931F3E600FB7F31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
